<%- include('template/header', {title: title}) %>
<header class="m-5">
    <h3 id="iduser" name=<%= session.iduser %> >
        Bonjour <%= session.username %>
    </h3>
</header>
<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createDeck">
        Créer un paquet
    </button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createCard">
        Créer une carte
    </button>
    <hr />
    <!-- Modal to create a deck -->
    <div class="modal" id="createDeck" tabindex="-1" role="dialog" aria-labelledby="createDeckLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createDeckLabel">Créer un paquet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="create_deck" action="/api/v1/decks" method="POST">
                    <div class="modal-body">
                            <label for="front">Nom du paquet :</label>
                            <input type="text" name="deckname" id="deckname">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="ajouter" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal to create a card -->
    <div class="modal" id="createCard" tabindex="-1" role="dialog" aria-labelledby="createCardLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCardLabel">Créer une carte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="create_card" action="/api/v1/cards" method="POST">
                    <div class="modal-body">
                        <label for="front">Question :</label>
                        <input type="text" name="front" id="front">
                        <br>
                        <label for="back">Réponse :</label>
                        <input type="text" name="back" id="back">
                        <br>
                        <label for="deck">Paquet :</label>
                        <select name="deck" id="deckList">
                            <option>--------------</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="ajouter" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionDecks"></div>



</div><!-- end container -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#create_deck').submit(function(event) {
            event.preventDefault();
            const route = $('#create_deck').attr('action');
            console.log("route: "+ route)
            let formData = {
                deckname : $('input[name=deckname]').val(),
                fkuser : $('#iduser').attr('name')
            }
            console.log(JSON.stringify(formData));
            $.ajax({
                url: route,
                type: 'POST',
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success(json){
                    if(json){
                        console.log(json)
                    }
                }
            });

        })
    });
    $('#create_card').submit(function(event) {
        event.preventDefault();
        const route = $('#create_card').attr('action');
        console.log("route: "+ route)
        let formData = { 
            front: $('input[name=front]').val(), 
            back: $('input[name=back]').val(), 
            fkdeck: $('select[name=deck]').val()
        }
        console.log(formData)
        $.ajax({
            url: route,
            type: 'POST',
            data: JSON.stringify(formData),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success(json){
                if(json){
                    console.log(json)
                }
            }
        });
    })
    $.get('/api/v1/decks/user/'+$('#iduser').attr('name'), (response) => {
        console.log(response)
        let option = "", accordion = "", card = "";
        let accordion1 = "<div class='card'><div class='card-header'><h4 class='mb-0'><button class='btn btn-link' type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne'>";
        let accordion2 = "</button></h4></div><div id='collapseOne' class='collapse show' aria-labelledby='headingOne' data-parent='#accordionDecks'><div class='card-body' id='iddeck";
        let accordion3 = "'></div></div>";
        let card1 = "<div class='container-fluid'><div class='row'><div class='col-sm'><div class='card-container'><div class='card'><div class='front'><div class='content'><div class='main'><h4 class='text-center'>";
        let card2 = "</h4></div></div></div><div class='back'><div class='content'><div class='main'><h4 class='text-center'>";
        let card3 = "</h4></div></div></div></div></div></div></div></div>";
        let listiddeck = [];
        for (let i=0;i<response.length;i++){
            option += "<option value='"+ response[i].iddeck + "'>" + response[i].deckname + "</option>";
            listiddeck.push(response[i].iddeck);
            accordion += accordion1 + response[i].deckname + accordion2 + response[i].iddeck + accordion3;
        }
        $("#deckList").append(option);
        $('#accordionDecks').append(accordion);
        for (let i=0; i<listiddeck.length; i++) {
            $.get('/api/v1/cards/deck/'+listiddeck[i], (cards) => {
                console.log(cards)
                for (let j=0; j < cards.length; j++) {
                    card += card1 + cards[j].front + card2 + cards[j].back + card3;
                }
                $("#iddeck"+listiddeck[i]).append(card);
            })
        }
    })
</script>
<%- include('template/footer') %> 