<%- include('template/header', {title: title}) %>

<div class="container">
<h3>Bonjour <%= session.username %></h3>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createDeck">
    Créer un paquet
</button>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createCard">
    Créer une carte
</button>
<div class="modal" id="createDeck" tabindex="-1" role="dialog" aria-labelledby="createDeckLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createDeckLabel">Créer un paquet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="create_deck" action="/api/v1/decks" method="POST">
                <div class="modal-body">
                        <label for="front">Nom du paquet :</label>
                        <input type="text" name="deckname" id="deckname">
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="ajouter" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="createCard" tabindex="-1" role="dialog" aria-labelledby="createCardLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCardLabel">Créer une carte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="create_card" action="/api/v1/cards" method="POST">
                <div class="modal-body">
                    <label for="front">Question :</label>
                    <input type="text" name="front" id="front">
                    <br>
                    <label for="back">Réponse :</label>
                    <input type="text" name="back" id="back">
                    <br>
                    <label for="deck">Paquet :</label>
                    <select name="deck" id="deckList">
                        <option>--------------</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="ajouter" />
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">John Marvel</h3>
                                    <p class="profession">CEO</p>
                                    <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-mail-forward"></i> Auto Rotation
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <div class="col-sm">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">John Marvel</h3>
                                    <p class="profession">CEO</p>
                                    <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-mail-forward"></i> Auto Rotation
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <div class="col-sm">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">John Marvel</h3>
                                    <p class="profession">CEO</p>
                                    <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-mail-forward"></i> Auto Rotation
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <div class="col-sm">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">John Marvel</h3>
                                    <p class="profession">CEO</p>
                                    <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-mail-forward"></i> Auto Rotation
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <div class="col-sm">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">John Marvel</h3>
                                    <p class="profession">CEO</p>
                                    <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                </div>
                                <div class="footer">
                                    <i class="fa fa-mail-forward"></i> Auto Rotation
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#create_deck').submit(function(event) {

            event.preventDefault();

            const route = $('#create_deck').attr('action');
            console.log("route: "+ route)
            let formData = {
                deckname : $('input[name=deckname]').val(),
                fkuser : $('input[name=iduser]').val()
            }
            console.log(JSON.stringify(formData));
            $.ajax({
                url: route,
                type: 'POST',
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success(json){
                    if(json){
                        console.log(json)
                    }
                }
            });

        });
    });
    $.get('/api/v1/decks', (response) => {
        console.log(response)
        let option = "", container = "";
        for (let i=0;i<response.length;i++){
            option += "<option value='"+ response[i].deckname + "'>" + response[i].deckname + "</option>";
            container += "<div class='container-fluid'><div class='row'><h1>"+ response[i].deckname + "</h1></div></div>";
        }
        $("#deckList").append(option);
        $('.container').append(container);
    })
</script>
<%- include('template/footer') %> 